a {
    text-decoration: none;
    transition: border-bottom 0.3s;
    border-bottom: 3px solid rgba(128,128,128,0.9);
    line-height: 0.9;
    display: inline-block;
}

a:hover {
    border-bottom: 3px solid rgba(0,0,0,0.7);
}

.current_masting {
		background: #000;
		color: #fff;
		margin: 0 -20px;
		padding: 20px !important;
}

#current {
	text-transform: uppercase;
}

.masting {
	padding: 20px 0;
	border-bottom: 2px dotted black;
}

li {
	list-style: none;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

h1, h3 {
	font-family: 'Slabo 27px', serif;
}

h1 {
	text-shadow: 1px 1px 1px white; 
	font-size: 45px;
}

h3 {
	font-size: 23px;
}

.yearcontainer > h3, .yearcontainernow > h3 {
	padding: 20px 0 0 0;
	font-size: 35px;
	cursor: pointer;
}

.yearcontainernow > h3 {
	cursor: auto;
}

#container {
	padding: 0 20px;
	background:rgba(240,240,240, 0.2);
}

h3, p {
	margin: 0;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

i {
	transition: all 0.3s;
}

#intro {
	background: 
	   linear-gradient(
	     rgba(0, 0, 0, 0.8), 
	     rgba(0, 0, 0, 0.7)
	   ),
	   url(/static/halfmast.jpg) 80%;
	background-size: cover;
	height: 70vh;
	padding: 10px 50px;   
	color: #fff;
}

.currentyear, .year2016, .year2015, .year2014, .year2013, .year2012, .year2011 {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

footer {
	margin: 20px 0 0 0;
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

.big {
	max-height: inherit;
	background: #fff;
}

div#chartContain {
    width: 40%;
    float: right;
    overflow: hidden;
    min-width: 300px;
}

div#chartContain h3 {
    margin: 30px 0 0px
     0;
     text-align: center;
}

div#chartContain #rules ol{
     margin: 0;
}

div#chartContain #rules li {
     text-align: left;
     list-style-type: inherit;
}

#chartContain p {
	text-align: center;
	margin: 0 0 10px 0;
}

canvas#myChart {
    width: 100% !important;
    height: 100% !important;
}

#calendar_basic {
	margin: 20px auto 0 auto;
}

#rules ol {
	font-size: 14px;
}

#rules h4 {
	margin: 18px 0 1px 0;
	border-bottom: 2px dotted black;
	display: inline-block;
}

#rules li span {
	margin: 0 0 0 5px;
}

#rules span,
span.legend {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border: 1px solid black;
}

#calendarContain, #intro2 {
	background: #F0F0F0;
	padding: 10px;
	margin: 0 -20px 5px -20px;
}

#intro2 {
	padding: 30px;
	border-bottom: 2px dotted lightgrey;
}

#intro2 h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

#calendarContain + h3 {
    font-family: "Source Sans Pro";
    font-size: 35px;
    margin: 20px 0 0 0;
}

#calendarContain {
    margin: 80px -20px 5px -20px;
    clear: both;
}

.rule1 {
	background: #FFFF00;
}

.rule2 {
	background: #1CE6FF;
}

.rule3 {
	background: #FF34FF;
}

.rule4 {
	background: #008941;
}

.rule5 {
	background: #006FA6;
}

.rule6 {
	background: #A30059;
}

.rule7 {
	background:#63FFAC;  
}

.rule8 {
	background:#B79762;  
}

.rule9 {
	background:#997D87;  
}

.rule10 {
	background:#FFB500;  
}

.rule11 {
	background:#C2FFED;  
}

.rule12 {
	background:#7900D7;  
}

.rule13 {
	background:#D25B88;  
}

.rule14 {
	background:#6C5E46;  
}

.rule15 {
	background:#6C8F7D;  
}

.rule16 {
	background:#BDC9D2;  
}

.rule17 {
	background:#EA8B66;  
}

.rule18 {
	background:#00C6C8;  
}

.rule19 {
	background:#fff;  
}

.rule20 {
	background:#B894A6;  
}

.rule21 {
	background:#006A66;  
}

.rule22 {
	background:#F4D749;  
}

.rule23 {
	background:#6B94AA;  
}

.ruleMultiple {
	background:#00005F;
}

.s25 {
	background: #bada55;
	width: 12px;
	height: 12px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: middle;
}

#rules h4#multiple {
	text-decoration: none;
}

#rules h4:first-child {
    margin: 0;
}

.tooltip {
    padding: 12px;
    font-size: 14px;
}

.google-visualization-tooltip {
	max-width: 30%;
}

footer .twitter-share-button {
    display: block;
    margin: 5px auto;
}

iframe#twitter-widget-1, .fb-share-button.fb_iframe_widget {
    display: block;
}

#chartContain .fb-share-button.fb_iframe_widget,#chartContain .twitter-share-button {
    margin: 10px auto;
    display: block;
    max-width: 66px;
}

#xaxis text, #yaxis text {
	font-size: 12px;
}

#wrapper svg {
    display: block;
    margin: 0 auto;
}

rect {
    cursor: pointer;
}

div.tooltip2 {	
    position: absolute;			
    text-align: center;			
    width: 90px;					
    height: inherit;					
    padding: 2px;				
    background: #fff;
    border-radius: 2px;			
    pointer-events: none;
    border: 2px solid rgb(173, 173, 173);	
    font-size: 12px;		
}

#firstContainer {
	display: block;
	margin: 0 auto;
	max-width: 1500px;
}

@media(max-width: 500px) {
	.tooltip {
	    padding: 3px;
	    font-size: 10px;
	}
	#intro {
		height: inherit;
	}
	div#chartContain {
		width: 100%;
		min-width: inherit;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
}
