<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Half mast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
 
<body>

	<div id="intro">

		<h1>Why are Canadian flags at half mast?</h1>
		<h2><i class="fa fa-quote-left" aria-hidden="true"></i> Given that such flags are recognized as paramount symbols of their nations, the act of half-masting is a dramatic visual statement that speaks to the sense of loss that is shared by all their citizens. <i class="fa fa-quote-right" aria-hidden="true"></i>
<br> – <small>Canadian Heritage website, where half-masting rules and notices are posted.</small></h2>
	</div>

	<div id="container">

		<div class="current">
		</div>

		<div id="intro2">

		<p>This site Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit exercitationem hic explicabo dicta tempore. Maiores quam mollitia aperiam expedita. Quod quam necessitatibus qui quibusdam mollitia itaque consequatur nihil. Quis, voluptatem.</p>

		</div>

		<div id="chartContain">
			<h3>Rules cited in half-masting notices</h3>
			<p>Hover to see half-mastings by rules (all years)</p>
			<canvas id="myChart"></canvas>

			<div id="rules">
			<h3>The rules</h3>
			<ol>
				<h4>Mandatory Half-Mastings:</h4>
				<li>The Sovereign, the Governor General and the Prime Minister<span id="s1"></span></li>
				<li>Sovereign's Family<span id="s2"></span></li>
				<li>Former Prime Minister<span id="s3"></span></li>
				<li>Former Governor General<span id="s4"></span></li>
				<li>Chief Justice of Canada and Members of the Canadian Ministry<span id="s5"></span></li>
				<li>Lieutenant Governors<span id="s6"></span> </li>
				<li>Privy Councillors and Senators <span id="s7"></span></li>
				<li>Members of the House of Commons <span id="s8"></span></li>
				<li>Accredited Heads of Mission to Canada while in Canada <span id="s9"></span></li>
				<li>Half-Masting Initiated by a Province or Territory <span id="s10"></span></li>
				<li>Special Days <span id="s11"></span></li>
				<h4>Discretionary Provisions:</h4>
				<li>Foreign Heads of State or Heads of Government - Half-masting Abroad <span id="s12"></span></li>
				<li>Special Circumstances in a Foreign Country <span id="s13"></span></li>
				<li>Employees of the Federal Government <span id="s14"></span></li>
				<h4>Discretionary Authority of the Prime Minister</h4>
				<li>Foreign Heads of State or Heads of Government - Half-masting in Canada <span id="s15"></span></li>
				<li>Exceptional Circumstances <span id="s16"></span></li>
				<li>Delegation of Authority<span id="s17"></span></li>
				<li>Information from the Department of Canadian Heritage <span id="s18"></span></li>
				<h4>Procedures</h4>
				<li>Legal Holidays<span id="s19"></span></li>
				<li>Visiting Foreign Head of State or Head of Government <span id="s20"></span></li>
				<li>Exceptions to Sections 19 and 20 <span id="s21"></span></li>
				<li>Half-Masting Notice <span id="s22"></span></li>
				<li>Coming into Effect<span id="s23"></span></li>

				<h5>Multiple sections cited <span id="s24"></span></h5>
			</ol>
			</div>
		</div>

		<div class="yearcontainernow">
			<h3>2017</h3>
			<div class="currentyear big">
			</div>
		</div>

		<div id="calendarContain">
			<div id="calendar_basic"></div>
			<p><small>*Note: In cases where multiple half-mastings occur on the same day, the calendar reflects the entry entered most recently. For complete details, look at the the listings below.</small></p>
		</div>

		<div class="yearcontainer">
			<h3>2016 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2016">
			</div>
		</div>

		<div class="yearcontainer">
		<h3>2015 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2015">
			</div>
		</div>

		<div class="yearcontainer">
			<h3>2014 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2014">
			</div>
		</div>

		<div class="yearcontainer">
			<h3>2013 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2013">
			</div>
		</div>

		<div class="yearcontainer">
			<h3>2012 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2012">
			</div>
		</div>


		<div class="yearcontainer">
			<h3>2011 <i class="fa fa-chevron-down" aria-hidden="true"></i>
</h3>
			<div class="year2011">
			</div>
		</div>

	{% for row in rows %}

				{% if row.happening == True %}
					<div class="current_masting masting">
					<h3 id="current">Current half-masting:</h3>
					<h3> {{ row.title }}</h3>
				{% endif %}

				{% if row.happening == False and row.currentyear == row.year %}
					<div class="current_year masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

				{% if row.year == "2016" %}
					<div class="masting2016 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

				{% if row.year == "2015" %}
					<div class="masting2015 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

				{% if row.year == "2014" %}
					<div class="masting2014 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}
			
				{% if row.year == "2013" %}
					<div class="masting2013 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

				{% if row.year == "2012" %}
					<div class="masting2012 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

				{% if row.year == "2011" %}
					<div class="masting2011 masting">
					<h3>{{ row.title }}</h3>
				{% endif %}

					<p><strong>When: </strong>{{ row.mastingperiod }}</p>
					<p><strong>Where: </strong>{{ row.location }}</p>
					<p><strong>Details: </strong>


					{% if row.section == "Multiple" %}
						<span class="multiple"></span>
					{% endif %}
					{% if row.section == "23" %}
						<span class="rule23">Procedures: Coming into Effect.</span>
					{% endif %}
					{% if row.section == "22" %}
						<span class="rule22">Procedures: Half-Masting Notice.</span>
					{% endif %}
					{% if row.section == "21" %}
						<span class="rule21">Procedures: Exceptions to Legal Holidays or Visiting Foreign Head of State or Head of Government.</span>
					{% endif %}
					{% if row.section == "20" %}
						<span class="rule20">Procedures: Visiting Foreign Head of State or Head of Government.</span>
					{% endif %}
					{% if row.section == "19" %}
						<span class="rule19">Procedures: Legal Holidays.</span>
					{% endif %}
					{% if row.section == "18" %}
						<span class="rule18">Discretionary Authority of the Prime Minister: Discretionary Authority of the Prime Minister.</span>
					{% endif %}
					{% if row.section == "17" %}
						<span class="rule17">Discretionary Authority of the Prime Minister: Delegation of Authority.</span>
					{% endif %}
					{% if row.section == "16" %}
						<span class="rule16">Discretionary Authority of the Prime Minister: Exceptional Circumstances.</span>
					{% endif %}
					{% if row.section == "15" %}
						<span class="rule15">Discretionary Authority of the Prime Minister: Foreign Heads of State or Heads of Government - Half-masting in Canada.</span>
					{% endif %}
					{% if row.section == "14" %}
						<span class="rule14">Discretionary Provisions: Employees of the Federal Government.</span>
					{% endif %}
					{% if row.section == "13" %}
						<span class="rule13">Discretionary Provisions: Special Circumstances in a Foreign Country.</span>
					{% endif %}
					{% if row.section == "12" %}
						<span class="rule12">Discretionary Provisions: Foreign Heads of State or Heads of Government - Half-masting Abroad.</span>
					{% endif %}
					{% if row.section == "11" %}
						<span class="rule11">Mandatory Half-masting: Special Days.</span>
					{% endif %}
					{% if row.section == "10" %}
						<span class="rule10">Mandatory Half-masting: Half-Masting Initiated by a Province or Territory.</span>
					{% endif %}
					{% if row.section == "9" %}
						<span class="rule9">Mandatory Half-masting: Accredited Heads of Mission to Canada while in Canada.</span>
					{% endif %}
					{% if row.section == "8" %}
						<span class="rule8">Mandatory Half-masting: Members of the House of Commons.</span>
					{% endif %}
					{% if row.section == "7" %}
						<span class="rule7">Mandatory Half-masting: Privy Councillors and Senators.</span>
					{% endif %}
					{% if row.section == "6" %}
						<span class="rule6">Mandatory Half-masting: Lieutenant Governors.</span>
					{% endif %}
					{% if row.section == "5" %}
						<span class="rule5">Mandatory Half-masting: Chief Justice of Canada and Members of the Canadian Ministry.</span>
					{% endif %}
					{% if row.section == "4" %}
						<span class="rule4">Mandatory Half-masting: Former Prime Minister.</span>
					{% endif %}
					{% if row.section == "3" %}
						<span class="rule3">Mandatory Half-masting: Former Governor General.</span>
					{% endif %}
					{% if row.section == "2" %}
						<span class="rule2">Mandatory Half-masting: Sovereign's Family.</span>
					{% endif %}
					{% if row.section == "1" %}
						<span class="rule1">Mandatory Half-masting: The Sovereign, the Governor General and the Prime Minister.</span>
					{% endif %}
					Rule cited: <a href="http://canada.pch.gc.ca/eng/1444133232495">{{row.section}}</a>.</p>
				</div>

		{% endfor %}

	</div>

	<footer>
		<p>Made by <a href="http://carysmills.com/">Carys Mills</a>, using Flask, Chart.js and Google Charts.</p>
	</footer>

	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
	<script src="http://d3js.org/d3.v3.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

	<script>

	var month = new Array();
	month[0] = "January";
	month[1] = "February";
	month[2] = "March";
	month[3] = "April";
	month[4] = "May";
	month[5] = "June";
	month[6] = "July";
	month[7] = "August";
	month[8] = "September";
	month[9] = "October";
	month[10] = "November";
	month[11] = "December";

	google.charts.load("current", {packages:["calendar"]});
	      google.charts.setOnLoadCallback(drawChart);

	   function drawChart() {
	       var dataTable = new google.visualization.DataTable();
	       dataTable.addColumn('date', 'Date' );
	       dataTable.addColumn('number', 'Section');
	       dataTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}})

	       {% for row in rows %}

	       	if ({{row.year}} == 2016) {	

	       		// take zeros off date, convert
	       		var date1 = "{{ row.date1}}".replace(/\s.*/g, '');
	       		date1 = new Date(date1);
	       		var newdate1 = new Date(date1);
	       		date1.setDate(date1.getDate() + 1);

	       		var date2 = "{{ row.date2}}";
	       		var section = "{{ row.section }}".replace("Multiple",30);
	       		section = parseInt(section);

	       		if (date2 !== "NA") {
	       			date2 = date2.replace(/\s.*/g, '');
	       			date2 = new Date(date2);
	       			var newdate2 = new Date(date2);
	       			date2.setDate(date2.getDate() + 1);
	       			
	       			var timeDiff = Math.abs(date2.getTime() - date1.getTime());
	       			var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 

	       			for (i=0; i < (diffDays + 1); i++) {
	       				diffdate = new Date(date1);
	       				diffdate.setDate(diffdate.getDate() + i);
	       				dataTable.addRows([
	       				   [ diffdate, section,"<div class='tooltip'><strong>Occasion</strong>: {{row.title}} <br><strong>Rule cited:</strong> {{row.section}} <br> <strong>Dates:</strong> " + month[newdate1.getMonth()] + " " + newdate1.getUTCDate() + " - " + month[newdate2.getMonth()] + " " + newdate2.getUTCDate() + "</div>" ],
	       				 ]);
	       			} 
	       		}
	       		else {
	       			date2 == "NA";
	       			dataTable.addRows([
	       			   [ date1, section,"<div class='tooltip'><strong>Occasion:</strong> {{row.title}} <br> <strong>Rule cited:</strong> {{row.section}} <br> <strong>Date:</strong> " + month[newdate1.getMonth()] + " " + newdate1.getUTCDate() + "</div>"],
	       			 ]);
	       		}	
	 
	       	}
	       {% endfor%}

	       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

	       var options = {
	       	tooltip: {isHtml: true},
	         title: "Last year's half mastings",
	         height: Math.min(($(window).width() / 3.7), 200),
	         calendar: { 
	         	focusedCellColor: {
	         	      stroke: 'grey',
	         	      strokeOpacity: 0.2,
	         	      strokeWidth: 1,
	         	    },
	         	cellSize: $(window).width() * 0.015,
	         	monthLabel: {
	         	       fontName: 'Slabo 27px',
	         	       fontSize: 12,
	         	       color: '#000',
	         	       bold: true,
	         	     },
	         	monthOutlineColor: {
	         	   strokeWidth: 1.5
	         	 },
	         	yearLabel: {
	         	       fontName: 'Source Sans Pro',
	         	       fontSize: 32,
	         	        color: '#000',
	         	        bold: true,
	         	      }
	         },
	         colorAxis: {values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 30],
	         	colors: [	       
	        "#FFFF00",
	        "#1CE6FF",
	        "#FF34FF",
	        "#008941",
	        "#006FA6",
	        "#A30059",
	        "#63FFAC",
	        "#B79762",
	        "#997D87",
	        "#FFB500",
	        "#C2FFED",
	        "#7900D7",
	        "#D25B88",
	        "#6C5E46",
	        "#6C8F7D",
	        "#BDC9D2",
	        "#EA8B66",
	        "#00C6C8",
	        "#494B5A",
	        "#B894A6",
	        "#006A66",
	        "#F4D749",
	       	"#6B94AA",
	       	"#00005F"]}
	       };
	       chart.draw(dataTable, options);
	   }

	</script>

</body>
 
</html>